<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/glide/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="/glide/dist/css/glide.theme.min.css">
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <a href="/files/gallery">Galería</a> | <a href="/files/upload-local">Subir archivo en local</a> | <a
      href="/files/upload-cloud">Subir archivo en la nube</a>
  </nav>

  {{{body}}}

</body>

</html>